h1 {
  border: 2px solid black;
  padding: 35px;
  margin: 30px;
  background-color: #EC7063;
  text-align: center;
}

body {
  background-color: #808B96;
}

#test-box {
  float: left;
  border: 2px solid black;
  padding: 45px;
  margin: 100px;
  background-color: #EC7063;
}

h2 {
  font-weight: bold;
}

em {
  font-weight: bold;
}

p {
  font-size: 20px;
}

.container {
  text-decoration-color: black;
}

.sidebar {
  width: 50%;
  background-color: #5E4197;
}
